@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

$blue: #007aff;
$red: #DD7169;

$themes: (
    primary: $blue,
    success: $success,
    danger: $red,
);

$container-size: (
    sm: 300px,
    md: 600px,
    lg: 1160px,
);
