@import "variables";
@import "override";
@import "../../../node_modules/bootstrap/scss/mixins";

$spacers: (
        (
                0: 0,
                1: ($spacer * .2),
                2: ($spacer * .4),
                3: ($spacer * .6),
                4: ($spacer * .8),
                5: $spacer,
                6: ($spacer * 1.5),
                7: ($spacer * 3),
                8: ($spacer * 5),
                9: ($spacer * 7),
                10: ($spacer * 10),
        )
);


@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";

// ElementUI
$--font-path: '../../../node_modules/element-ui/packages/theme-chalk/src/fonts';
@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

@each $type, $size in $container-size {
    .container-#{$type} {
        max-width: $size;
        width: 100%;
        margin:auto;
    }
}

.image-container {
    position:relative;
    overflow:hidden;

    img {
        position:absolute;
        min-width:100%;
        height:100%;
    }
}

.btn {

    border:0;
    border-radius:4px;
    font-size:0.8em;
    padding: 0 1em;
    line-height:0;
    height:40px;
    background-color:$gray-400;
    transition: opacity .2s, border-color .3s;
    cursor:pointer;
    outline:none !important;

    &.btn-small {
        height: 2rem;
    }

    &.btn-outline {
        background-color:transparent !important;
        border:1px solid $gray-400;
    }

    &.btn-white {
        border:1px solid $gray-200;
        background:white;

        &:hover {
            border-color:$gray-500;
        }

        &.active, &:active {
            color:$blue;
            border-color: $blue;
        }
    }

    &:hover {
        opacity:0.8;
    }

    @each $class, $color in $themes {
        &.btn-#{$class} {
            background-color:$color;
            color:white;

            &.active {
                background-color:darken($color, 20%);
            }

            &.btn-outline {
                border:1px solid $color;
                color:$color;

                &.active {
                    border:1px solid darken($color, 20%);
                    color:darken($color, 20%);
                }
            }
        }

    }
}

.btn-group {
    .btn {
        border-radius:0;
        border-right-width:0;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
            border-right-width:1px;
        }

        &.active {
            border-right-width: 1px;

            &+.btn {
                border-left-width:0;
            }
        }
    }
}